@import "_mixins";

#canvas {
    width: $bp_0;
    margin: 0 auto;
}


@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    #canvas {
        width: 100%;

    }

}

@media all and (max-width: $bp_2), all and (max-device-width: $bp_2) {

    #canvas {
    }

}

@media all and (max-width: $bp_3), all and (max-device-width: $bp_3) {

    #canvas {
    }

}

