@import "_mixins";

/* Typography
---------------------------------------------------------------------------- */
h1, h2, h3 {
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}

body {
    color: $clr_body_copy;
    font: {
        size: 0.9em;
    }
}

a {
    color: $clr_link;
    text-decoration: none;
    &:hover {
        color: $clr_link_hover;
    }
    &:active {
        color: $clr_link_active;
    }
}
