@import "_mixins";

/* Typography
---------------------------------------------------------------------------- */
@font-face {
    font-family: 'HelsinkiRegular';
    src: url('../fonts/helsinki-webfont.eot');
    src: url('../fonts/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helsinki-webfont.woff') format('woff'),
    url('../fonts/helsinki-webfont.ttf') format('truetype'),
    url('../fonts/helsinki-webfont.svg#HelsinkiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: HelsinkiRegular, Helvetica, Arial, sans-serif;
    color: $clr_heading;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}

body {
    color: $clr_body_copy;
    font: {
        size: 0.9em;
        family: OpenSansRegular, Helvetica, Arial, sans-serif;
    }
}

a {
    color: $clr_link;
    text-decoration: none;
    &:hover {
        color: $clr_link_hover;
    }
    &:active {
        color: $clr_link_active; 
    }
}
